<script type="text/javascript">
var translation;
var pronounciation;

function getSelectedOptions(id) {
    return Array.from(document.querySelectorAll('#'+id+' option:checked')).map((el) => el.value);
}
    
function get_vocabulary(str) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET','get_vocabulary?groups='+str);
    xhr.onload = function() {
        if(xhr.readyState === 4 && xhr.status === 200) {
            var arr = xhr.responseText.split(',');
            document.getElementById('response').innerHTML = "<b><h1>"+arr[0]+"</h1></b>";
            pronounciation = arr[1];
            translation = arr[2];
        }
        else {
            alert('Request failed ' + xhr.status);
        }
    };
    xhr.send();
}
    
window.onload=function()
{
    document.getElementById('groups').onchange = function() {
        get_vocabulary(getSelectedOptions('groups'));
    };

    document.getElementById("helpbutton").onclick = function()
    {
        document.getElementById("help").innerText = translation +" : "+ pronounciation
    };
    
    document.getElementById("pronounciation").oninput = function()
    {
        if (document.getElementById("pronounciation").value == pronounciation && document.getElementById("translation").value == translation)
        {
            document.getElementById("pronounciation").value = "";
            document.getElementById("translation").value = "";
            document.getElementById("help").innerHTML = "";
            get_vocabulary(getSelectedOptions('groups'));
        }
    };
    document.getElementById("translation").oninput = function()
    {
        if (document.getElementById("pronounciation").value == pronounciation && document.getElementById("translation").value == translation)
        {
            document.getElementById("pronounciation").value = "";
            document.getElementById("translation").value = "";
            document.getElementById("help").innerHTML = "";
            get_vocabulary(getSelectedOptions('groups'));
        }
    };
}
</script>
<b><label>Groups:</label></b>
</br>
<select id="groups" multiple>
    {% for group in groups %}
        <option value="{{group.group}}">{{group.group}}</option>
    {% endfor %}
</select>
<b><h1 id="response"></h1></b>
<p id="help"></p>
<input type="text" name="pronounciation" id="pronounciation" placeholder="Pronounciation" autofocus/>
</br>
<input type="text" name="translation" placeholder="Translation" id="translation"/>
</br>
<input type="button" name="help" value="help" id="helpbutton">