<script type="text/javascript">
function getSelectedOptions(sel, fn) {
    var opts = [], opt;
    
    for (var i=0, len=sel.options.length; i<len; i++) {
        opt = sel.options[i];
        
        if ( opt.selected ) {
            opts.push(opt);
            if (fn) { fn(opt);}
        }
    }
    return opts;
}

function callback(opt) {
    var display = document.getElementById('result');
    display.innerHTML += opt.value + ', ';
}
    
window.onload=function()
{
    document.getElementById('groups').onchange = function(e) {
        var display = document.getElementById('result');
        display.innerHTML = '';
    
        getSelectedOptions(this, callback);
    
        var str = display.innerHTML.slice(0, -2);
        display.innerHTML = str;
        
        // AJAX CALL HERE to get vocab matching selected groups
    };

    document.getElementById("helpbutton").onclick = function()
    {
        document.getElementById("text").innerText = "{{vocabulary.pronounciation}} : {{vocabulary.translation}}";
        document.getElementById('pronounciation').focus();
    };
    
    document.getElementById("pronounciation").oninput = function()
    {
        if (document.getElementById("pronounciation").value == "{{vocabulary.pronounciation}}" && document.getElementById("translation").value == "{{vocabulary.translation}}")
        {
            window.location.reload(false);
        }
    };
    document.getElementById("translation").oninput = function()
    {
        if (document.getElementById("pronounciation").value == "{{vocabulary.pronounciation}}" && document.getElementById("translation").value == "{{vocabulary.translation}}")
        {
            window.location.reload(false);
        }
    };
}
</script>
<b><label>Groups:</label></b>
</br>
<select id="groups" multiple>
    {% for group in groups %}
        <option value="{{group.group}}">{{group.group}}</option>
    {% endfor %}
</select>
<h2>{{vocabulary.vocabulary}}</h2>
<textarea id="result"></textarea>
</br>
</br>
<input type="text" name="pronounciation" id="pronounciation" placeholder="Pronounciation" autofocus/>
</br>
<input type="text" name="translation" placeholder="Translation" id="translation"/>
</br>
<input type="button" name="help" value="help" id="helpbutton">