#wrapper {
    border-style: solid;
    border-width: 2px;
    width: 525px;
    height: 80%;
    height: 400px;
    margin: 0 auto;
}

#group-container {
    float: left;
    width: 222px;
    border-right: 2px solid black;
    padding-right: 1px;
}

#inner-container-right {
    float: left;
    width: 300px;
}

#response-container {
    text-align: center;
    font-family: Arial;
    padding-top: 20px;
}

#input-container {
    text-align: center;
}

#grouplabel {
    font-size: 26px;
    font-family: Arial;
}

#groups {
    height: 92%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border: 1px solid transparent;
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
}

option:hover {
  background-color: DodgerBlue;
}

#response {
    font-size: 32px;
    flex-wrap: wrap;
    font-family: Arial;
    line-height: 10px;
}

#helptext {
    font-size: 20px;
    font-family: Arial;
}